.App {
  background-color: #f6f6f6;
  color: #0d1d2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding-top: 30px;
  font-family: Montserrat;
}
.topsection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.container{
  display: flex;
  flex-direction: column;
  width: 300px;
background-color: white;
padding: 10px;
border-radius: 5px;
border: 1px solid #ccc;
}
.resultsection{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expensebox{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width:135px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.expensebox span{
font-weight: bold;
  color: green;
}

.btn{
  outline: none;
  padding: 5px 10px;
  background-color:#EDE9FE ;
  color: #6d28d9;
  border-radius: 5px;
  border:1px solid #6d28d9;
}

.primary{
  color: white;
  background-color: #6d28d9;
}

form{
  display: flex;
  flex-direction: column;
  min-height: 150px;
  justify-content: space-between;
  margin-bottom: 30px;
}

input{
  border: 1px solid #ccc;
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
}
input[type="radio"]{
  margin-left: 20px;
}

.transaction{
  border-radius: 5px;
  background-color: #f4f4f5;
  padding: 5px 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search{
  margin-top: 8px;
  margin-bottom: 8px;

}
header{
  margin-bottom: 8px;
}